<h1>All articles</h1>
<% @articles.each do |item| %>
	<hr>
	<h2><%= item.title %></h2>
	<small>posted at <%= item.created_at %> / updated at <%= item.updated_at %></small>
	<p><%= item.text %></p>
<% end %>