<!DOCTYPE html>
<html>
<head>
  <title>MyRORBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href='/articles'>Articles</a>
<a href='/about'>About us</a>
<a href='/terms'>Terms of use</a>
<hr>
<%= yield %>
<hr>
</body>
</html>
